<?xml version="1.0"?>
<launch>
  <arg name="vizzy_machine_name" default="vizzy-desktop"/>
  <arg name="vizzy_machine_address" default="10.10.1.80"/>
<!--  <arg name="vizzy_machine_name" default="$(arg vizzy_machine_name)" /> -->
  <arg name="env-loader" default="/home/vizzy/catkin_workspace/devel/env.sh"/>
  <machine name="$(arg vizzy_machine_name)" address="$(arg vizzy_machine_address)" env-loader="$(arg env-loader)" user="vizzy"/>

  <arg name="camera" default="left_camera" />
  <arg name="video_mode" default="640x480_rgb8" />
  <arg name="frame_rate" default="15" />
  <arg name="frame_id" default="camera" />
  <arg name="guid" default="00b09d01007ad691" />
  <arg name="camera_file" default="left_camera_params.yaml" />

  <arg name="gain" default="0.312"/>
  <arg name="shutter" default="0.592"/>
  <arg name="white_balance_BU" default="0.474"/>
  <arg name="white_balance_RV" default="0.648"/>
  <arg name="hue" default="0.48"/>
  <arg name="gamma" default="0.4"/>
  <arg name="saturation" default="0.826"/>
  <arg name="sharpness" default="0.5"/>
  <arg name="brightness" default="0"/>
  <arg name="ns" default="vizzy" />

  <!-- nodelet manager process -->
  <node machine="$(arg vizzy_machine_name)" ns="$(arg ns)" pkg="nodelet" type="nodelet" name="$(arg camera)_camera_nodelet_manager" args="manager" output="screen"/>

  <!-- camera driver nodelet -->
  <node machine="$(arg vizzy_machine_name)" ns="$(arg ns)" pkg="nodelet" type="nodelet" name="$(arg camera)_nodelet" args="load camera1394/driver $(arg camera)_camera_nodelet_manager" output="screen" >
	<param name="guid" value="$(arg guid)" />
	<param name="video_mode" value="$(arg video_mode)"/>
	<param name="frame_rate" value="$(arg frame_rate)"/>
        <param name="gain" value="$(arg gain)"/>
        <param name="shutter" value="$(arg shutter)"/>
        <param name="white_balance_BU" value="$(arg white_balance_BU)"/>
        <param name="white_balance_RV" value="$(arg white_balance_RV)"/>
        <param name="hue" value="$(arg hue)"/>
        <param name="gamma" value="$(arg gamma)"/>
        <param name="saturation" value="$(arg saturation)"/>
        <param name="sharpness" value="$(arg sharpness)"/>
        <param name="brightness" value="$(arg brightness)"/>
        <param name="frame_id" value="$(arg frame_id)"/>

	<!--<param name="auto_exposure" value="0"/>-->

    	<remap from="camera" to="$(arg camera)" />
        <param name="camera_info_url" value="file://$(arg camera_file)" />
    	<!--<rosparam file="$(find vizzy_robot)/config/camera_params.yaml" command="load"/>-->
        <!--<rosparam file="$(find vizzy_robot)/config/$(arg camera_file)" />-->
  </node>
    
  <!-- Bayer color decoding -->
  <node machine="$(arg vizzy_machine_name)" ns="$(arg ns)" pkg="nodelet" type="nodelet" name="$(arg camera)_image_proc_debayer" args="load image_proc/debayer $(arg camera)_camera_nodelet_manager" output="screen" >
    <remap from="image_color" to="$(arg camera)/image_color" />
    <remap from="image_mono" to="$(arg camera)/image_mono" />
    <remap from="image_raw" to="$(arg camera)/image_raw" />
  </node>

  <!-- mono rectification -->
  <node machine="$(arg vizzy_machine_name)" ns="$(arg ns)" pkg="nodelet" type="nodelet" name="$(arg camera)_image_proc_rect" args="load image_proc/rectify $(arg camera)_camera_nodelet_manager" output="screen">
    <remap from="image_mono" to="$(arg camera)/image_mono" />
    <remap from="image_rect" to="$(arg camera)/image_rect" />
  </node>

  <!-- color rectification -->
  <node machine="$(arg vizzy_machine_name)" ns="$(arg ns)" pkg="nodelet" type="nodelet" name="$(arg camera)_image_proc_rect_color" args="load image_proc/rectify $(arg camera)_camera_nodelet_manager">
    <remap from="image_mono" to="$(arg camera)/image_color" />
    <remap from="image_rect" to="$(arg camera)/image_rect_color" />
  </node>

  <!--<node name="$(arg camera)_throttle_node" pkg="topic_tools" type="throttle" args="messages $(arg camera)/image_raw $(arg throttle_rate) $(arg camera)/image_throttled" />-->
</launch>

