<?xml version="1.0"?>
<launch>
	
	<arg name="map_frame" default="map" />
  	<arg name="map_service" default="/static_map" />
	<arg name="map_topic" default="/map" />

	<!-- set the tf prefix as necessary -->
	<arg name="ns" default="" />
	<arg name="tf_prefix" default="$(arg ns)" />
	<arg name="device_id" default="#1" />
	<param name="tf_prefix" value="$(arg tf_prefix)" />

	<arg name="base_frame_id" default="$(arg tf_prefix)/base_footprint" />
  	<arg name="odom_frame_id" default="$(arg tf_prefix)/odom" />

	<!-- launch the auxiliary configuration (shared between h/w and simulation) -->
	<include file="$(find vizzy_robot)/launch/auxiliary.vizzy.launch.xml">
		<arg name="tf_prefix" value="$(arg tf_prefix)" />
	</include>

	<!-- launch the segway base -->
  	<include file="$(find vizzy_robot)/launch/segway_base.launch" />

  	<!-- launch the hokuyo sensor -->
	<include file="$(find vizzy_robot)/launch/hokuyo.launch">
	    <arg name="name" value="nav_hokuyo" />
	    <arg name="tf_prefix" value="$(arg tf_prefix)" />
	    <!-- <arg name="publish_tf" value="false" /> already published by urdf -->
	</include>

	<!-- launch the laser filter to get rid of readings from the robot itself -->
  	<include file="$(find vizzy_sensors)/launch/hokuyo/hokuyo-filters.launch" />

	<include file="$(find vizzy_navigation)/launch/gmapping.launch">
    	<arg name="scan_topic" value="scan_filtered" />
  	</include>

</launch>
