<?xml version="1.0"?>
<launch>
  <arg name="vizzy_machine_name" default="$(arg vizzy_machine_name)" />
  <arg name="tf_prefix" default="" /> 
  <arg name="name" default="laser" />
  <arg name="port" default="/dev/ttyACM0" />
  <arg name="scan_name" default="base_scan" />
  <param name="tf_prefix" value="$(arg tf_prefix)" />

  <!-- run the hokuyo driver with the laser link as the frame id -->
  <node machine="$(arg vizzy_machine_name)" name="$(arg name)_node" pkg="urg_node" type="urg_node">
    <param name="serial_port" value="$(arg port)" />
    <param name="frame_id" value="$(arg name)_laser_link" />
    <remap from="scan" to="$(arg scan_name)" />
    <!-- <param name="frame_id" value="$(arg tf_prefix)/$(arg name)_laser_link" /> -->
    <param name="angle_min" value="-1.309" /> <!-- -5pi/12-->
    <param name="angle_max" value="1.309" /> <!-- 5pi/12 -->
  </node>

 
</launch>
