<launch>
	
	<arg name="map_frame" default="map" />
  	<arg name="map_service" default="/static_map" />
	<arg name="map_topic" default="/map" />

	<!-- launch the map server for the simulated world -->
  	<include file="$(find vizzy-robot)/launch/vizzy_world_map_server.launch" />

	<!-- set the tf prefix as necessary -->
	<arg name="ns" default="" />
	<arg name="tf_prefix" default="$(arg ns)" />
	<arg name="device_id" default="#1" />
	<param name="tf_prefix" value="$(arg tf_prefix)" />

	<arg name="base_frame_id" default="$(arg tf_prefix)/base_footprint" />
  	<arg name="odom_frame_id" default="$(arg tf_prefix)/odom" />

	<!-- launch the auxiliary configuration (shared between h/w and simulation) -->
	<include file="$(find vizzy-robot)/launch/auxiliary.vizzy.launch.xml">
		<arg name="tf_prefix" value="$(arg tf_prefix)" />
		<arg name="use_yarp" value="true" />
	</include>

	<!-- launch the segway base -->
  	<include file="$(find vizzy-robot)/launch/segway_base.launch" />

  	<!-- launch the hokuyo sensor -->
	<include file="$(find vizzy-robot)/launch/hokuyo.launch">
	    <arg name="name" value="nav_hokuyo" />
	    <arg name="tf_prefix" value="$(arg tf_prefix)" />
	    <!-- <arg name="publish_tf" value="false" /> already published by urdf -->
	</include>

	<!-- launch the laser filter to get rid of readings from the robot itself -->
  	<include file="$(find vizzy_sensors)/launch/hokuyo/hokuyo-filters.launch" />

	<!--<node name="fake_localization" pkg="fake_localization" type="fake_localization">
	    <remap from="base_pose_ground_truth" to="odom"/>
	    <param name="global_frame_id" value="$(arg map_frame)" />
	    <param name="base_frame_id" value="$(arg base_frame_id)" />
	    <param name="odom_frame_id" value="$(arg odom_frame_id)" />
	</node>-->
        <include file="$(find vizzy_navigation)/launch/amcl.launch">
  	</include>

	<include file="$(find vizzy_navigation)/launch/move_base_eband.launch">
    	<arg name="map_topic" value="$(arg map_topic)" />
  	</include>

</launch>
