<?xml version="1.0"?>
<robot name="sensor_asus_xtion_pro" xmlns:xacro="http://ros.org/wiki/xacro">
  
  <xacro:include filename="$(find vizzy_description)/urdf/sensors/asus_camera.gazebo.xacro"/>

  <!-- Xacro properties -->
  <xacro:property name="M_SCALE" value="0.001"/>

  <xacro:macro name="sensor_asus_xtion_pro"
    params="name parent *origin ros_topic">

    <joint name="${name}_rgb_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${name}_rgb_frame"/>
    </joint>
    <link name="${name}_rgb_frame"/>

    <joint name="${name}_rgb_optical_joint" type="fixed">
      <origin
        xyz="0 0 0"
        rpy="${-M_PI/2} 0 ${-M_PI/2}"/>
      <parent link="${name}_rgb_frame"/>
      <child link="${name}_rgb_optical_frame"/>
    </joint>
    <link name="${name}_rgb_optical_frame"/>

    <joint name="${name}_joint" type="fixed">
      <origin
        xyz="0 0 0" 
        rpy="0 0 0"/>
      <parent link="${name}_rgb_frame"/>
      <child link="${name}_link"/>
    </joint>
    <link name="${name}_link">
      <visual>
        <origin
          xyz="-0.015 0.0035 0.004"
          rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://vizzy_description/meshes/asus_xtion_pro/xtion_pro_camera.dae"/>
        </geometry>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0"/>
        <geometry>
        <box size="0.0730 0.2760 0.0720"/>
      </geometry>
      </collision>
      <inertial>
        <mass value="0.170"/>
        <origin xyz="0 0 0"/>
        <inertia
          ixx="0.001152600" ixy="0.0" ixz="0.0"
          iyy="0.000148934" iyz="0.0"
          izz="0.001154654"/>
      </inertial>
    </link>

    <joint name="${name}_depth_joint" type="fixed">
      <origin
        xyz="0 0 0"
        rpy="0 0 0"/>
      <parent link="${name}_rgb_frame"/>
      <child link="${name}_depth_frame"/>
    </joint>
    <link name="${name}_depth_frame"/>

    <joint name="${name}_depth_optical_joint" type="fixed">
      <origin
        xyz="0 0 0"
        rpy="${-M_PI/2} 0 ${-M_PI/2}"/>
      <parent link="${name}_depth_frame"/>
      <child link="${name}_depth_optical_frame"/>
    </joint>
    <link name="${name}_depth_optical_frame"/>

    <!-- Gazebo extension -->
    <xacro:vizzy_sim_3dsensor name="${name}" ros_topic="${ros_topic}"/>

  </xacro:macro>

</robot>