<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Properties -->
  <xacro:property name="caster_ball_radius" value="0.05" />
  <xacro:property name="caster_ball_mass" value="0.870"/>


  <!-- Materials -->
  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>

  <!-- Load full inertial and collision model or a simplified model -->
  <xacro:arg name="use_full_gazebo_model" default="false"/>

  <!-- Base link -->

  <xacro:macro name="vizzy_base_link_inertial">
    <xacro:if value="$(arg use_full_gazebo_model)">
      <inertial>
        <mass value="60" />
        <origin xyz="0.18986 0 0.2" />
        <inertia
          ixx="3000.0" ixy="0.0" ixz="0.0"
          iyy="3000.0" iyz="0.0"
          izz="30.0" />
      </inertial>
    </xacro:if>
    <xacro:unless value="$(arg use_full_gazebo_model)">
      <inertial>
        <mass value="60" />
        <origin xyz="0.18986 0 0.2" />
        <inertia
          ixx="3000.0" ixy="0.0" ixz="0.0"
          iyy="3000.0" iyz="0.0"
          izz="30.0" />
      </inertial>
    </xacro:unless>
  </xacro:macro>

  <xacro:macro name="vizzy_base_link_collision" >
    <xacro:if value="$(arg use_full_gazebo_model)">
      <collision>
        <origin
          xyz="0.188 0.001 0.197"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="package://vizzy_description/meshes/base/segway.dae"/>
        </geometry>
      </collision>
    </xacro:if>
    <xacro:unless value="$(arg use_full_gazebo_model)">
      <collision>
        <origin
          xyz="0.188 0.001 0.25"
          rpy="0 0 0" />
        <geometry>
          <!-- TODO: refine geometry? -->
          <box size=".08 .35 .45" />
        </geometry>
      </collision>
    </xacro:unless>
  </xacro:macro>

  <xacro:macro name="gazebo_vizzy_base_link_surface">
    <gazebo reference="base_link">
      <mu1 value="1.0" />
      <mu2 value="1.0" />
      <kp  value="1000000.0" />
      <kd  value="1.0" />
    </gazebo>
  </xacro:macro>

  <!-- Caster wheels -->

  <xacro:macro name="gazebo_vizzy_caster_wheel_link" params="name">
    <link name="${name}_caster_wheel_link">
      <visual>
        <geometry>
          <sphere radius="${caster_ball_radius}"/>
        </geometry>
        <material name="light_gray_3"/>
      </visual>
      <collision>
        <geometry>
          <sphere radius="${caster_ball_radius}"/>
        </geometry>
      </collision>
      <xacro:sphere_inertia m="${caster_ball_mass}" r="${caster_ball_radius}"/>
    </link>

    <gazebo reference="${name}_caster_wheel_link">
      <material>Gazebo/Grey</material>
      <mu1 value="0.0"/>
      <mu2 value="0.0"/>
      <kp  value="10000000.0" />
      <kd  value="100000.0" />
    </gazebo>

  </xacro:macro>

  <xacro:macro name="gazebo_vizzy_caster_wheel_joint" params="name parent child origin">
    <joint name="${name}_caster_wheel_link" type="fixed">
      <parent link="${parent}"/>
      <child link="${child}"/>
      <origin xyz="${origin}"/>
    </joint>
  </xacro:macro>

  <xacro:macro name="gazebo_vizzy_caster_wheel" params="name parent origin">

    <xacro:gazebo_vizzy_caster_wheel_link name="${name}"/>

    <xacro:gazebo_vizzy_caster_wheel_joint name="${name}" 
      parent="${parent}" 
      child="${name}_caster_wheel_link"
      origin="${origin}"/>

  </xacro:macro>

  <!-- Active wheels -->

  <xacro:macro name="vizzy_wheel_link_inertial"
    params="rpy">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="${rpy}" />
      <mass
        value="5" />
      <xacro:cylinder_inertia
        m="5"
        r="0.19814"
        h="0.06"/>
    </inertial>
  </xacro:macro>

  <xacro:macro name="vizzy_wheel_link_collision"
    params="rpy">
    <collision>
      <origin
        xyz="0 0 0"
        rpy="${rpy}" />
      <geometry>
        <cylinder length="0.001" radius="0.19814"/>
      </geometry>
   </collision>
  </xacro:macro>

  <xacro:macro name="gazebo_vizzy_wheel_link_surface"
    params="prefix">
    <gazebo reference="${prefix}_wheel_link" >
      <mu1 value="100000.0" />
      <mu2 value="100000.0" />
      <maxContacts value="1" />
      <kp  value="10000000.0" />
      <kd  value="100000.0" /> 
    </gazebo>
  </xacro:macro>

</robot>
