<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Load full inertial and collision model or a simplified model -->
  <xacro:arg name="use_full_gazebo_model" default="false"/>

  <!-- Base link -->

  <xacro:macro name="vizzy_base_link_inertial">
    <xacro:if value="$(arg use_full_gazebo_model)">
      <inertial>
        <mass value="60" />
        <origin xyz="0.18986 0 0.2" />
        <inertia
          ixx="3000.0" ixy="0.0" ixz="0.0"
          iyy="3000.0" iyz="0.0"
          izz="30.0" />
      </inertial>
    </xacro:if>
    <xacro:unless value="$(arg use_full_gazebo_model)">
      <inertial>
        <mass value="60" />
        <origin xyz="0.18986 0 0.2" />
        <inertia
          ixx="3000.0" ixy="0.0" ixz="0.0"
          iyy="3000.0" iyz="0.0"
          izz="30.0" />
      </inertial>
    </xacro:unless>
  </xacro:macro>

  <xacro:macro name="vizzy_base_link_collision" >
    <xacro:if value="$(arg use_full_gazebo_model)">
      <collision>
        <origin
          xyz="0.188 0.001 0.197"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="package://vizzy_description/meshes/base/segway.dae"/>
        </geometry>
      </collision>
    </xacro:if>
    <xacro:unless value="$(arg use_full_gazebo_model)">
      <collision>
        <origin
          xyz="0.188 0.001 0.25"
          rpy="0 0 0" />
        <geometry>
          <!-- TODO: refine geometry? -->
          <box size=".08 .35 .45" />
        </geometry>
      </collision>
    </xacro:unless>
  </xacro:macro>

  <xacro:macro name="gazebo_vizzy_base_link_surface">
    <gazebo reference="base_link">
      <mu1 value="1.0" />
      <mu2 value="1.0" />
      <kp  value="1000000.0" />
      <kd  value="1.0" />
    </gazebo>
  </xacro:macro>

  <!-- Caster wheels -->

  <xacro:macro name="vizzy_caster_wheel_base_link_inertial">
    <inertial>
      <origin
        xyz="-0.0118 0.0084 0.083"
        rpy="0 0 0" />
      <mass
        value="0.4" />
      <inertia
        ixx="0.00375" ixy="0.0" ixz="0.0"
        iyy="0.00375" iyz="0.0"
        izz="0.00375" />
    </inertial>
  </xacro:macro>

  <xacro:macro name="vizzy_caster_wheel_base_link_collision">
    <collision>
      <origin
        xyz="0 0 0.05"
        rpy="0 0 0" />
      <geometry>
         <cylinder length="0.02" radius="0.01"/>
      </geometry>
    </collision>
  </xacro:macro>

  <xacro:macro name="vizzy_caster_wheel_link_inertial">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0.5" />
      <xacro:cylinder_inertia
        m="0.5"
        r="0.0491365"
        h="0.02"/>
    </inertial>
  </xacro:macro>

  <xacro:macro name="vizzy_caster_wheel_link_collision">
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.02" radius="0.0491365"/>
      </geometry>
    </collision>
  </xacro:macro>

  <xacro:macro name="gazebo_vizzy_caster_wheel_link_surface"
    params="prefix">
    <gazebo reference="${prefix}_wheel_link">
      <mu1 value="1.0" />
      <mu2 value="1.0" />
      <kp  value="1000000.0" />
      <kd  value="1.0" />
    </gazebo>
  </xacro:macro>

  <!-- Active wheels -->

  <xacro:macro name="vizzy_wheel_link_inertial"
    params="rpy">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="${rpy}" />
      <mass
        value="5" />
      <xacro:cylinder_inertia
        m="5"
        r="0.19814"
        h="0.06"/>
    </inertial>
  </xacro:macro>

  <xacro:macro name="vizzy_wheel_link_collision"
    params="rpy">
    <collision>
      <origin
        xyz="0 0 0"
        rpy="${rpy}" />
      <geometry>
        <cylinder length="0.06" radius="0.19814"/>
      </geometry>
   </collision>
  </xacro:macro>

  <xacro:macro name="gazebo_vizzy_wheel_link_surface"
    params="prefix">
    <gazebo reference="${prefix}_wheel_link" >
      <mu1 value="1.0" />
      <mu2 value="1.0" />
      <kp  value="1000000.0" />
      <kd  value="1.0" />
    </gazebo>
  </xacro:macro>

</robot>
