<?xml version="1.0"?>
<launch>
  <arg name="vizzy_machine_name" default="localhost"/>

  <node machine="$(arg vizzy_machine_name)" name="hokuyo_laser_filters" pkg="laser_filters" type="scan_to_scan_filter_chain">
    <rosparam command="load" file="$(find vizzy_sensors)/config/hokuyo_filters.yaml" />
  </node>
</launch>
