<?xml version="1.0"?>
<!-- ROS head file to simulate vizzy in gazebo   -->
<launch>
  <arg name="robot" default="vizzy"/> <!-- full, lower_body, foot -->

  <!-- simulation parameters and robot configuration parameters -->
  <arg name="use_yarp" default="false"/>
  <arg name="navigation" default="false"/>
  <arg name="launch_moveit" default="true"/>
  <arg name="pose" default="-x -1.5 -y -0.0 -z 0.1 -R 0.0 -P 0.0 -Y 0"/>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="world" default="attention.world" />
  <arg name="yarp" default="false"/>
  <arg name="map_frame" default="map" />
  <arg name="tf_prefix" default="" />
  <arg name="base_frame_id" default="$(arg tf_prefix)/base_footprint" />
  <arg name="odom_frame_id" default="$(arg tf_prefix)/odom" />
  <arg name="map_topic" default="/map" />
  <arg name="visualization" default="true" />
  <arg name="head_only" default="true"/>
  <arg name="teleop" default="false"/>
  <arg name="move_robot_config_file" default="$(find move_robot)/config/frames.yaml"/>

  <!-- launch vizzy -->
  <include file="$(find vizzy_launch)/launch/vizzy_simulation.launch">
    <arg name="navigation" value="$(arg navigation)"/>
    <arg name="map_frame" value="$(arg map_frame)" />
    <arg name="tf_prefix" value="$(arg tf_prefix)" />
    <arg name="base_frame_id" value="$(arg base_frame_id)" />
    <arg name="odom_frame_id" value="$(arg odom_frame_id)" />
    <arg name="map_topic" value="$(arg map_topic)" />
    <arg name="launch_moveit" value="$(arg launch_moveit)" />
    <arg name="head_only" value="$(arg head_only)"/>
    <arg name="pose" value="$(arg pose)"/>
    <arg name="world" value="$(arg world)" />
    <arg name="teleop" value="$(arg teleop)"/>
    <arg name="move_robot_config_file" value="$(arg move_robot_config_file)"/>
  </include>
 
  <!-- launch online stereo calibration -->
  <include ns="vizzy"  file="$(find online_stereo_calibration_ros)/launch/stereo_calibration.launch">
    <arg name="manager" value="cameras_nodelet_manager"/>
  </include>

  <!-- launch vizualization on rviz -->
  <group if="$(arg visualization)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find vizzy_demos)/rviz/active_stereo.rviz" />
  </group>
</launch>
