<?xml version="1.0"?>
<launch>
  <arg name="camera" default="" />
  <arg name="manager" default="cameras_camera" />

  <!-- Bayer color decoding -->
  <node pkg="nodelet" type="nodelet" name="$(arg camera)_image_proc_debayer" args="load image_proc/debayer $(arg manager)" respawn="true">
    <remap from="image_color" to="$(arg camera)/image_color" />
    <remap from="image_mono" to="$(arg camera)/image_mono" />
    <remap from="image_raw" to="$(arg camera)/image_raw" />
  </node>

  <!-- mono rectification -->
  <node pkg="nodelet" type="nodelet" name="$(arg camera)_image_proc_rect" args="load image_proc/rectify $(arg manager)" respawn="true">
    <remap from="image_mono" to="$(arg camera)/image_mono" />
    <remap from="image_rect" to="$(arg camera)/image_rect" />
  </node>

  <!-- color rectification -->
  <node pkg="nodelet" type="nodelet" name="$(arg camera)_image_proc_rect_color" args="load image_proc/rectify $(arg manager)" respawn="true">
    <remap from="image_mono" to="$(arg camera)/image_color" />
    <remap from="image_rect" to="$(arg camera)/image_rect_color" />
  </node>

  <!-- image resize -->
  <node pkg="nodelet" type="nodelet" name="$(arg camera)_image_proc_resize" args="load image_proc/resize $(arg manager)">
    <!-- remap input topics -->
      <remap from="image" to="$(arg camera)/image_rect_color/" />
      <remap from="camera_info" to="$(arg camera)/camera_info"/>
      <!-- remap output topics -->
      <remap from="$(arg camera)_image_proc_resize/image" to="$(arg camera)/image_rect_color_sd/"/>
      <remap from="$(arg camera)_image_proc_resize/camera_info" to="$(arg camera)/image_rect_color_sd/camera_info"/>
      <param name="use_scale" value="false"/>
      <param name="width" type="int" value="640" />
      <param name="height" type="int" value="480"/>
  </node>

  <!-- saccadic suppression -->
  <node pkg="nodelet" type="nodelet" name="$(arg camera)_saccadic_suppression" args="load vizzy_sensors/saccadic_suppression $(arg manager)">
      <!-- remap input topics -->
      <remap from="image" to="$(arg camera)/image_rect_color_sd/" />
      <remap from="camera_info" to="$(arg camera)/image_rect_color_sd/camera_info"/>
      <remap from="cmd_vel" to="/vizzy/cmd_vel"/>
      <!-- remap output topics -->
      <remap from="$(arg camera)_saccadic_suppression/image" to="$(arg camera)/suppressed_image_rect_color_sd/"/>
      <remap from="$(arg camera)_saccadic_suppression/camera_info" to="$(arg camera)/suppressed_image_rect_color_sd/camera_info"/>
  </node>

</launch>
