<?xml version="1.0"?>
<launch>
  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="use_yarp" default="false"/>
  <arg name="robot" default="vizzy"/> <!-- full, lower_body, foot -->
  <arg name="pose" default="-x 0.0 -y 0.0 -z 0.2 -R 0.0 -P 0.0 -Y 1.57"/>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="world" default="isr_7th_floor.world" />
  <arg name="urdf_file" default="vizzy.urdf.xacro"/>
  <env name="GAZEBO_MODEL_PATH" value="$(find vizzy_gazebo):$(optenv GAZEBO_MODEL_PATH)"/>
  <env name="LC_NUMERIC" value="C"/>

  <!-- start up world -->
  <include file="$(find vizzy_gazebo)/launch/vizzy_sim_world.launch">
  	<arg name="use_sim_time" value="$(arg use_sim_time)" />
  	<arg name="gui" value="$(arg gui)" />
  	<arg name="world" value="$(arg world)" />
  </include>

  <!-- spawn the robot in simulation -->
  <include file="$(find vizzy_gazebo)/launch/vizzy_spawn.launch">
  	<arg name="use_yarp" value="$(arg use_yarp)"/>
  	<arg name="pose" value="$(arg pose)"/>
  	<arg name="robot" value="$(arg robot)"/>
  	<arg name="urdf_file" value="$(arg urdf_file)" />
  </include>

  <!-- bringup robot and controllers -->
  <include file="$(find vizzy_control)/launch/vizzy_control.launch">
    <arg name="use_yarp" value="$(arg use_yarp)"/>
  </include>

  <!-- camera driver nodelet -->
  <node ns="vizzy" pkg="nodelet" type="nodelet" name="cameras_nodelet_manager" args="manager" respawn="true" output="screen"/>

  <!-- start up left camera rectification and debayering -->
  <include ns="vizzy" file="$(find vizzy_gazebo)/launch/camera.launch">
  	<arg name="camera" value="l_camera" />
  	<arg name="manager" value="cameras_nodelet_manager" />
  </include>


  <!-- start up right camera rectification and debayering -->
  <include ns="vizzy" file="$(find vizzy_gazebo)/launch/camera.launch">
  	<arg name="camera" value="r_camera" />
  	<arg name="manager" value="cameras_nodelet_manager" />
  </include>
</launch>
