<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="head_gazebo">

    <gazebo reference="neck_pan_link">

    </gazebo>

    <gazebo reference="neck_tilt_link">

    </gazebo>

    <gazebo reference="eyes_tilt_link">

    </gazebo>

    <gazebo reference="r_eye_version_link">
    </gazebo>

    <gazebo reference="l_eye_version_link">
    </gazebo>
 
  </xacro:macro>
</robot>
