<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="head_gazebo">

    <gazebo reference="neck_pan_link">

    </gazebo>

    <gazebo reference="neck_tilt_link">

    </gazebo>

    <gazebo reference="eyes_tilt_link">

    </gazebo>

    <gazebo reference="eyes_center_link">

    </gazebo>

    <gazebo reference="eyes_center_vision_link">

    </gazebo>

   <gazebo reference="l_eye_link">

    </gazebo>

    <gazebo reference="r_eye_link">

    </gazebo>

    <gazebo reference="r_camera_link">

    </gazebo>

    <gazebo reference="r_camera_vision_link">

    </gazebo>

    <gazebo reference="l_camera_link">

    </gazebo>

    <gazebo reference="l_camera_vision_link">

    </gazebo>

    <gazebo reference="ego_frame">

    </gazebo>

    <gazebo reference="head_origin_frame">

    </gazebo>

    <gazebo reference="neck_pan_joint">

    </gazebo>

    <gazebo reference="neck_tilt_joint">

    </gazebo>

    <gazebo reference="eyes_tilt_joint">

    </gazebo>

    <gazebo reference="l_eye_joint">

    </gazebo>

    <gazebo reference="r_eye_joint">

    </gazebo>

  </xacro:macro>
</robot>
