<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="right_hand_gazebo">

    <!-- Mimic plugin to model underactuated joints -->
    <gazebo>
      <plugin name="hand_mimic_plugin" filename="libMimicPlugin.so">
        <!-- Fingers -->
        <actuatedJoint name="r_thumb_phal_1_joint">
          <mimicJoint name="r_thumb_phal_2_joint" multiplier="0.5" />
          <mimicJoint name="r_thumb_phal_3_joint" multiplier="0.5" />
        </actuatedJoint>
        <actuatedJoint name="r_ind_phal_1_joint">
          <mimicJoint name="r_ind_phal_2_joint" multiplier="0.5" />
          <mimicJoint name="r_ind_phal_3_joint" multiplier="0.5" />
        </actuatedJoint>
        <!-- Vizzy's med and min fingers are coupled and act as one -->
        <actuatedJoint name="r_med_phal_1_joint">
          <mimicJoint name="r_med_phal_2_joint" multiplier="0.5" />
          <mimicJoint name="r_med_phal_3_joint" multiplier="0.5" />
          <mimicJoint name="r_min_phal_1_joint" multiplier="0.5" />
          <mimicJoint name="r_min_phal_3_joint" multiplier="0.5" />
          <mimicJoint name="r_min_phal_2_joint" multiplier="0.5" />
        </actuatedJoint>
      </plugin>
    </gazebo>

  </xacro:macro>

</robot> 
