<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro"> 
  <!-- Things that are needed only for Gazebo (not the physical robot).  These include
       sensor and controller plugin specifications -->
<xacro:include filename="$(find vizzy_description)/urdf/arm/right_arm.gazebo.xacro"/>
  <xacro:include filename="$(find vizzy_description)/urdf/arm/right_arm.transmission.xacro"/>

  <xacro:macro name="right_hand" params="name parent sufix reflect *origin">

  <link
    name="r_hand_link">
    <inertial>
      <origin
        xyz="0.0038463 -0.25763 0.60534"
        rpy="0 0 0" />
      <mass
        value="0.14447" />
      <inertia
        ixx="0.00014079"
        ixy="1.5176E-05"
        ixz="1.0157E-05"
        iyy="0.00013841"
        iyz="5.8477E-05"
        izz="0.00016255" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vizzy_test/meshes/r_hand_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vizzy_test/meshes/r_hand_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r_hand_joint"
    type="fixed">
    <origin
      xyz="0.631985243056887 -0.118428097845849 -0.0023641314603528"
      rpy="-2.73631640958448 -1.55026793601452 2.02896379866596" />
    <parent
      link="r_wrist_flection_link" />
    <child
      link="r_hand_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="r_thumb_1_link">
    <inertial>
      <origin
        xyz="-0.00032032 0.0070152 0.0070409"
        rpy="0 0 0" />
      <mass
        value="0.0081407" />
      <inertia
        ixx="6.5008E-07"
        ixy="7.3119E-10"
        ixz="2.5546E-09"
        iyy="5.6171E-07"
        iyz="2.5969E-09"
        izz="2.906E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vizzy_test/meshes/r_thumb_1_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.77647 0.75686 0.73725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vizzy_test/meshes/r_thumb_1_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r_thumb_1_joint"
    type="fixed">
    <origin
      xyz="-0.051602659641749 -0.261993975608549 0.585670716685399"
      rpy="1.58918253820798 -0.658618217290863 1.14526673964582" />
    <parent
      link="r_hand_link" />
    <child
      link="r_thumb_1_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="r_thumb_2_link">
    <inertial>
      <origin
        xyz="4.3028E-05 0.0070072 0.013515"
        rpy="0 0 0" />
      <mass
        value="0.014478" />
      <inertia
        ixx="1.7439E-06"
        ixy="3.4418E-10"
        ixz="1.4451E-08"
        iyy="1.7213E-06"
        iyz="3.0158E-10"
        izz="5.3077E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vizzy_test/meshes/r_thumb_2_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.77647 0.75686 0.73725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vizzy_test/meshes/r_thumb_2_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r_thumb_2_joint"
    type="fixed">
    <origin
      xyz="-0.000155193715695168 0 -0.0329996350723843"
      rpy="2.77558825516292E-17 0.00470285720488725 -5.55117651032584E-17" />
    <parent
      link="r_thumb_1_link" />
    <child
      link="r_thumb_2_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="r_thumb_3_link">
    <inertial>
      <origin
        xyz="-3.9325E-05 0.0070133 0.01016"
        rpy="0 0 0" />
      <mass
        value="0.011277" />
      <inertia
        ixx="1.0456E-06"
        ixy="5.324E-10"
        ixz="1.1256E-08"
        iyy="1.007E-06"
        iyz="5.4133E-10"
        izz="4.1298E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vizzy_test/meshes/r_thumb_3_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.77647 0.75686 0.73725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vizzy_test/meshes/r_thumb_3_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r_thumb_3_joint"
    type="fixed">
    <origin
      xyz="0 0 -0.0265000000000002"
      rpy="2.08166817117217E-15 -7.63278329429795E-17 4.94049245958195E-15" />
    <parent
      link="r_thumb_2_link" />
    <child
      link="r_thumb_3_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="r_thumb_4_link">
    <inertial>
      <origin
        xyz="-1.702E-05 -2.2727E-05 0.0049109"
        rpy="0 0 0" />
      <mass
        value="0.0093855" />
      <inertia
        ixx="5.7614E-07"
        ixy="5.3189E-10"
        ixz="-3.8147E-11"
        iyy="5.3439E-07"
        iyz="3.9566E-09"
        izz="3.1605E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vizzy_test/meshes/r_thumb_4_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vizzy_test/meshes/r_thumb_4_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r_thumb_4_joint"
    type="fixed">
    <origin
      xyz="0 0.00699999999999884 -0.00850000000000072"
      rpy="-3.14159265358979 -2.77555756156289E-17 -1.5707963267949" />
    <parent
      link="r_thumb_3_link" />
    <child
      link="r_thumb_4_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="r_ind_1_link">
    <inertial>
      <origin
        xyz="-4.3029E-05 0.0069928 0.013517"
        rpy="0 0 0" />
      <mass
        value="0.014478" />
      <inertia
        ixx="1.7441E-06"
        ixy="3.4419E-10"
        ixz="-1.4754E-08"
        iyy="1.7215E-06"
        iyz="-3.0127E-10"
        izz="5.3077E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vizzy_test/meshes/r_ind_1_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.77647 0.75686 0.73725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vizzy_test/meshes/r_ind_1_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r_ind_1_joint"
    type="fixed">
    <origin
      xyz="-0.0177293588150107 -0.199600259473898 0.655176816713951"
      rpy="-2.99608894338126 -0.863311929630472 -1.55682627112773" />
    <parent
      link="r_hand_link" />
    <child
      link="r_ind_1_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="r_ind_2_link">
    <inertial>
      <origin
        xyz="-3.9324E-05 0.0069867 -0.01016"
        rpy="0 0 0" />
      <mass
        value="0.011277" />
      <inertia
        ixx="1.0456E-06"
        ixy="-5.324E-10"
        ixz="-1.1256E-08"
        iyy="1.007E-06"
        iyz="5.4129E-10"
        izz="4.1298E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vizzy_test/meshes/r_ind_2_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.77647 0.75686 0.73725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vizzy_test/meshes/r_ind_2_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r_ind_2_joint"
    type="fixed">
    <origin
      xyz="0 0 -0.0264999999999982"
      rpy="-3.14159265358979 5.71764857681956E-15 -3.14159265358979" />
    <parent
      link="r_ind_1_link" />
    <child
      link="r_ind_2_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="r_ind_3_link">
    <inertial>
      <origin
        xyz="-1.702E-05 -2.2726E-05 0.0049109"
        rpy="0 0 0" />
      <mass
        value="0.0093855" />
      <inertia
        ixx="5.7614E-07"
        ixy="5.3187E-10"
        ixz="-3.8139E-11"
        iyy="5.3409E-07"
        iyz="3.9566E-09"
        izz="3.1575E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vizzy_test/meshes/r_ind_3_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vizzy_test/meshes/r_ind_3_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r_ind_3_joint"
    type="fixed">
    <origin
      xyz="0 0.00700000000000009 0.00850000000000004"
      rpy="5.71764857681955E-15 6.93889390390723E-18 1.5707963267949" />
    <parent
      link="r_ind_2_link" />
    <child
      link="r_ind_3_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="r_med_1_link">
    <inertial>
      <origin
        xyz="-7.2146E-06 -4.3029E-05 0.0032329"
        rpy="0 0 0" />
      <mass
        value="0.014478" />
      <inertia
        ixx="1.7215E-06"
        ixy="3.442E-10"
        ixz="3.0135E-10"
        iyy="1.7441E-06"
        iyz="1.4754E-08"
        izz="5.3077E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vizzy_test/meshes/r_med_1_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vizzy_test/meshes/r_med_1_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r_med_1_joint"
    type="fixed">
    <origin
      xyz="0.00986405390674194 -0.209502702129352 0.646379791486054"
      rpy="0.863520073243181 -0.018865252031158 3.13349791039224" />
    <parent
      link="r_hand_link" />
    <child
      link="r_med_1_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="r_med_2_link">
    <inertial>
      <origin
        xyz="-1.3326E-05 3.9324E-05 0.0033395"
        rpy="0 0 0" />
      <mass
        value="0.011277" />
      <inertia
        ixx="1.007E-06"
        ixy="5.324E-10"
        ixz="5.4133E-10"
        iyy="1.0456E-06"
        iyz="1.1377E-08"
        izz="4.13E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vizzy_test/meshes/r_med_2_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vizzy_test/meshes/r_med_2_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r_med_2_joint"
    type="fixed">
    <origin
      xyz="0 0 0.0297500000000001"
      rpy="0 4.22838847269347E-18 1.30104260698261E-18" />
    <parent
      link="r_med_1_link" />
    <child
      link="r_med_2_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="r_med_3_link">
    <inertial>
      <origin
        xyz="-1.702E-05 -2.2726E-05 0.0049109"
        rpy="0 0 0" />
      <mass
        value="0.0093855" />
      <inertia
        ixx="5.7614E-07"
        ixy="5.3189E-10"
        ixz="-3.8115E-11"
        iyy="5.3429E-07"
        iyz="3.9566E-09"
        izz="3.1595E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vizzy_test/meshes/r_med_3_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vizzy_test/meshes/r_med_3_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r_med_3_joint"
    type="fixed">
    <origin
      xyz="0 0 0.022"
      rpy="0 4.22838847269347E-18 1.30104260698261E-18" />
    <parent
      link="r_med_2_link" />
    <child
      link="r_med_3_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="r_min_1_link">
    <inertial>
      <origin
        xyz="-7.2155E-06 -4.3029E-05 0.0032329"
        rpy="0 0 0" />
      <mass
        value="0.014478" />
      <inertia
        ixx="1.7215E-06"
        ixy="3.4421E-10"
        ixz="3.0144E-10"
        iyy="1.7441E-06"
        iyz="1.4754E-08"
        izz="5.3077E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vizzy_test/meshes/r_min_1_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vizzy_test/meshes/r_min_1_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r_min_1_joint"
    type="fixed">
    <origin
      xyz="0.0425452722226254 -0.215159986901383 0.641151937714496"
      rpy="0.873599871641145 -0.131769097871865 2.99995105378633" />
    <parent
      link="r_hand_link" />
    <child
      link="r_min_1_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="r_min_2_link">
    <inertial>
      <origin
        xyz="-1.3327E-05 3.9324E-05 0.0033395"
        rpy="0 0 0" />
      <mass
        value="0.011277" />
      <inertia
        ixx="1.007E-06"
        ixy="5.3241E-10"
        ixz="5.414E-10"
        iyy="1.0456E-06"
        iyz="1.1256E-08"
        izz="4.1298E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vizzy_test/meshes/r_min_2_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vizzy_test/meshes/r_min_2_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r_min_2_joint"
    type="fixed">
    <origin
      xyz="0 0 0.02975"
      rpy="-5.55111512312578E-17 2.08166817117217E-17 6.93889390390723E-18" />
    <parent
      link="r_min_1_link" />
    <child
      link="r_min_2_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="r_min_3_link">
    <inertial>
      <origin
        xyz="-1.702E-05 -2.2726E-05 0.0049109"
        rpy="0 0 0" />
      <mass
        value="0.0093855" />
      <inertia
        ixx="5.7614E-07"
        ixy="5.319E-10"
        ixz="-3.8082E-11"
        iyy="5.3424E-07"
        iyz="3.9566E-09"
        izz="3.159E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vizzy_test/meshes/r_min_3_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vizzy_test/meshes/r_min_3_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r_min_3_joint"
    type="fixed">
    <origin
      xyz="0 0 0.022"
      rpy="-5.55111512312578E-17 2.08166817117217E-17 6.93889390390723E-18" />
    <parent
      link="r_min_2_link" />
    <child
      link="r_min_3_link" />
    <axis
      xyz="0 0 0" />
  </joint>


    <!-- gazebo extensions -->
    <!--<xacro:right_arm_gazebo/>
    <xacro:right_arm_transmissions/>-->
 </xacro:macro>
</robot>
