<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">
  
  <xacro:macro name="left_arm_transmissions">

    <transmission name="l_shoulder_scapula_transmission">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="l_shoulder_scapula_joint">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="l_shoulder_scapula_motor">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="l_shoulder_flection_transmission">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="l_shoulder_flection_joint">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="l_shoulder_flection_motor">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="l_shoulder_abduction_transmission">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="l_shoulder_abduction_joint">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="l_shoulder_abduction_motor">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="l_shoulder_rotation_transmission">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="l_shoulder_rotation_joint">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="l_shoulder_rotation_motor">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="l_elbow_flection_transmission">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="l_elbow_flection_joint">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="l_elbow_flection_motor">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="l_forearm_pronation_transmission">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="l_forearm_pronation_joint">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="l_forearm_pronation_motor">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="l_wrist_abduction_transmission">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="l_wrist_abduction_joint">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="l_wrist_abduction_motor">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>


    <transmission name="l_wrist_flection_transmission">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="l_wrist_flection_joint">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="l_wrist_flection_motor">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

  </xacro:macro>

</robot>

