<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="left_arm_gazebo">

    <gazebo reference="l_shoulder_scapula_link">
      <!--<mu1>0.2</mu1>
      <mu2>0.2</mu2>-->
    </gazebo>

    <gazebo reference="l_shoulder_flection_link">
      <!--<mu1>0.2</mu1>
      <mu2>0.2</mu2>-->
    </gazebo>

    <gazebo reference="l_shoulder_abduction_link">
      <!--<mu1>0.2</mu1>
      <mu2>0.2</mu2>-->
    </gazebo>

    <gazebo reference="l_shoulder_rotation_link">
      <!--<mu1>0.2</mu1>
      <mu2>0.2</mu2>-->
    </gazebo>

    <gazebo reference="l_elbow_flection_link">
      <!--<mu1>0.2</mu1>
      <mu2>0.2</mu2>-->
    </gazebo>

    <gazebo reference="l_forearm_pronation_link">
      <!--<mu1>0.2</mu1>
      <mu2>0.2</mu2>-->
    </gazebo>

    <gazebo reference="l_wrist_abduction_link">
      <!--<mu1>0.2</mu1>
      <mu2>0.2</mu2>-->
      <material>Gazebo/Orange</material>
    </gazebo>

    <gazebo reference="l_wrist_flection_link">
      <!--<mu1>0.2</mu1>
      <mu2>0.2</mu2>-->
    </gazebo>

    <gazebo reference="l_palm_link">
    </gazebo>

  </xacro:macro>

</robot>
