<?xml version="1.0"?>
<model>
  <name>Pessoa 1</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
    <name>Joao Avelino</name>
    <email>lol@lol.com</email>
  </author>

  <description>
    Just a random model of a person to be used in the pedestrian detector
  </description>
</model>
