<?xml version="1.0"?>
<!-- ROS head file to simulate vizzy in gazebo   -->
<launch>
  <!-- robot configuration parameters -->
  <arg name="robot" default="vizzy"/> <!-- full, lower_body, foot -->

  <!-- simulation parameters and robot configuration parameters -->
  <arg name="use_yarp" default="false"/>
  <arg name="navigation" default="true"/>
  <arg name="launch_moveit" default="true"/>
  <arg name="slam" default="false"/>
  <!--<arg name="pose" default="-x -3.65 -y 17.7 -z 0.20 -R 0.0 -P 0.0 -Y 1.57"/>-->
  <arg name="pose" default="-x 2.0 -y -0.0 -z 0.1 -R 0.0 -P 0.0 -Y 0"/>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="world" default="isr_7th_floor.world" />
  <arg name="map_frame" default="map" />
  <arg name="tf_prefix" default="" />
  <arg name="map_file" default="isr_7th_floor_simulation.yaml" />
  <arg name="base_frame_id" default="base_footprint" />
  <arg name="odom_frame_id" default="odom" />
  <arg name="map_topic" default="/map" />
  <arg name="head_only" default="false"/>
  <arg name="ns" default="vizzy" />
  <arg name="fake_localization" default="false"/>

  <arg name="vizzy_control_config_file" default="$(find vizzy_control)/config/frames.yaml"/>
  <arg name="simulation" default="true" />
  <arg name="fixation_point_in" default="fixation_point" /> 

  <arg name="reactive_2d_navigation" default="false"/>
  <arg name="teleop" default="false"/>

  <!-- bringup robot -->
  <group if="$(arg head_only)">
    <include file="$(find vizzy_gazebo)/launch/gazebo.launch">
      <arg name="use_yarp" value="$(arg use_yarp)"/>
      <arg name="robot" value="$(arg robot)"/>
      <arg name="pose" value="$(arg pose)"/>
      <arg name="paused" value="$(arg paused)"/>
      <arg name="use_sim_time" value="$(arg use_sim_time)" />
      <arg name="gui" value="$(arg gui)" />
      <arg name="world" value="$(arg world)" />
      <arg name="urdf_file" value="vizzy_head_only.urdf.xacro"/>
    </include>
  </group>
  <group unless="$(arg head_only)">
    <include file="$(find vizzy_gazebo)/launch/gazebo.launch">
      <arg name="use_yarp" value="$(arg use_yarp)"/>
      <arg name="robot" value="$(arg robot)"/>
      <arg name="pose" value="$(arg pose)"/>
      <arg name="paused" value="$(arg paused)"/>
      <arg name="use_sim_time" value="$(arg use_sim_time)" />
      <arg name="gui" value="$(arg gui)" />
      <arg name="world" value="$(arg world)" />
      <arg name="urdf_file" value="vizzy.urdf.xacro"/>
    </include>
  </group>

  <!-- launch moveit -->
  <group if="$(arg launch_moveit)">
    <group if="$(arg head_only)">
      <include file="$(find vizzy_head_moveit_config)/launch/moveit.launch"/>
    </group>
    <group unless="$(arg head_only)">
      <include file="$(find vizzy_moveit_config)/launch/moveit.launch"/>
    </group>
  </group>

  <!-- launch navigation -->
  <group if="$(arg navigation)">
    <!-- launch the laser filter to get rid of readings from the robot itself -->
    <node name="hokuyo_laser_filters" pkg="laser_filters" type="scan_to_scan_filter_chain">
      <rosparam command="load" file="$(find vizzy_sensors)/config/hokuyo_filters.yaml" />
    </node>

    <group if="$(arg slam)">
      <!-- TO DO -->
    </group>
    <group unless="$(arg slam)">
      <!-- launch pre obtained map to the environment -->
      <node name="map_server" pkg="map_server" type="map_server" args="$(find vizzy_navigation)/maps/$(arg map_file)" />

      <group unless="$(arg reactive_2d_navigation)">
        <!-- move_base using local eband planner -->
        <include file="$(find vizzy_navigation)/launch/move_base_eband_local.launch">
          <arg name="map_topic" value="$(arg map_topic)" />
        </include>
      </group>
      <group if="$(arg reactive_2d_navigation)">

        <!-- Node: Local obstacles builder -->
  	<node pkg="mrpt_local_obstacles" type="mrpt_local_obstacles_node" name="mrpt_local_obstacles_node" output="screen">
          <param name="source_topics_2dscan" value="scan_filtered"/>
          <param name="show_gui" value="true"/>
        </node>

        <!-- Node: Pure Reactive Navigator -->
        <node pkg="mrpt_reactivenav2d" type="mrpt_reactivenav2d_node" name="mrpt_reactivenav2d_node" output="screen" respawn="true">
          <!-- *Important*: This external config file holds the most important navigation settings -->
          <param name="cfg_file_reactive" value="$(find vizzy_navigation)/config/reactive2d_config.ini"/> 
          <param name="frameid_robot" value="base_footprint"/> 

          <!-- This is to allow the reactive responsive to RVIZ GUI commands -->
          <remap from="reactive_nav_goal" to="/move_base_simple/goal" />
          <remap from="cmd_vel" to="/vizzy/cmd_vel" />
          <!-- Enable logs to ~/.ros/reactivenav.logs , use navlog-viewer to open them -->
          <!--		<param name="save_nav_log" value="true"/> -->

          <!-- Robot shape: Load from geometry_msgs::Polygon topic -->
          <param name="topic_robot_shape" value="laser_footprint" />
        </node>
      </group>

      <group if="$(arg fake_localization)">
      <!-- lighter localization package for simulation -->
        <node name="fake_localization" pkg="fake_localization" type="fake_localization">
	    <remap from="base_pose_ground_truth" to="odom"/>
	    <param name="global_frame_id" value="$(arg map_frame)" />
	    <param name="base_frame_id" value="$(arg base_frame_id)" />
	    <param name="odom_frame_id" value="$(arg odom_frame_id)" />
	</node>
      </group>
      <group unless="$(arg fake_localization)">
        <!-- localization package -->
        <include file="$(find vizzy_navigation)/launch/amcl_simulation.launch"/>
      </group>
    </group>
  </group>

  <!-- launch gaze action -->
  <include file="$(find vizzy_control)/launch/gaze.launch">
    <arg name="config_file" value="$(arg vizzy_control_config_file)" />
    <arg name="simulation" value="$(arg simulation)" />
    <arg name="fixation_point_in" value="$(arg fixation_point_in)" />
  </include>

  <!-- launch teleop -->
  <group if="$(arg teleop)">
    <include file="$(find vizzy_navigation)/launch/teleop_joy_simulation.launch">
      <arg name="cmd_out_topic" value="twist2nav2d"/>
      <arg name="ns" value="$(arg ns)" />
    </include>
  </group>

  <group>
  <node name="twist2nav2d" pkg="vizzy_navigation" type="reroute_twist2nav2d_node">
    <remap from="twist_topic" to="$(arg ns)/twist2nav2d"/>
    <remap from="nav2d_topic" to="cmd"/>
    <remap from="cmd_topic" to="$(arg ns)/cmd_vel" />
  </node>
  <rosparam file="$(find vizzy_navigation)/param/general.yaml"/>
  <node name="Operator" pkg="nav2d_operator" type="operator">
    <rosparam file="$(find vizzy_navigation)/param/operator.yaml"/>
    <rosparam file="$(find vizzy_navigation)/param/costmap.yaml" ns="local_map" />
    <remap from="cmd_vel" to = "$(arg ns)/cmd_vel"/>
  </node>
  </group>

  

</launch>
