<?xml version="1.0"?>
<!-- ROS head file to simulate vizzy in gazebo   -->
<launch>
  <arg name="vizzy_machine_name" default="vizzy-desktop.local"/>
  <arg name="vizzy_machine_address" default="vizzy-desktop.local"/>
  <arg name="mapless_active" default="true"/>
  <arg name="env-loader" default="$(find vizzy_launch)/env-hooks/env_loader.sh"/>
  <arg name="define_machine" default="true"/>

    <machine name="$(arg vizzy_machine_name)" 
            address="$(arg vizzy_machine_address)" 
            env-loader="$(arg env-loader)" user="vizzy"
            if="$(arg define_machine)"
    />


  <!-- robot configuration parameters -->
  <arg name="robot" default="vizzy"/> <!-- full, lower_body, foot -->

  <!-- simulation parameters and robot configuration parameters -->
  <arg name="use_yarp" default="false"/>
  <arg name="navigation" default="true"/>
  <arg name="slam" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="yarp" default="false"/>
  <arg name="map_frame" default="map" />
  <arg name="tf_prefix" default="" />
  <arg name="base_frame_id" default="base_footprint" />
  <arg name="odom_frame_id" default="odom" />
  <arg name="map_topic" default="/map" />
  <arg name="map_file" default="mapa_piso7_NOVO_AWESOME.yaml" />
  <arg name="use_moveit" default="true" />

  <arg name="custom_obstacles" default="true" />
  <arg name="obstacles_map_file" default="mapa_piso7_NOVO_AWESOME_obst.yaml" />

  <arg name="ns" default="vizzy" />
  <arg name="ros_cameras_on" default="true" />

  <arg name="vizzy_control_config_file" default="$(find vizzy_control)/config/frames.yaml"/>
  <arg name="simulation" default="false" />
  <arg name="fixation_point_in" default="fixation_point" /> 
  <arg name="fixation_point_out" default="fixation_point_goal_ros"/>

  <arg name="teleop" default="true"/>
  <arg name="cameras_auto_gain" default="false" />
  <arg name="cameras_auto_exposure" default="false" />
  <arg name="cameras_auto_frame_rate" default="false" />

  <!-- bringup robot -->
  <include file="$(find vizzy_robot)/launch/real_robot.launch">
    <arg name="map_frame" value="$(arg map_frame)" />
    <arg name="tf_prefix" value="$(arg tf_prefix)" />
    <arg name="vizzy_machine_name" value="$(arg vizzy_machine_name)"/>
    <arg name="ns" value="$(arg ns)" />
    <arg name="ros_cameras_on" value="$(arg ros_cameras_on)" />
    <arg name="cameras_auto_gain" value="$(arg cameras_auto_gain)" />
    <arg name="cameras_auto_exposure" value="$(arg cameras_auto_exposure)" />
    <arg name="cameras_auto_frame_rate" value="$(arg cameras_auto_frame_rate)" />
    <arg name="define_machine" value="false"/>
  </include> 

  <!-- launch moveit -->
  <group if="$(arg use_moveit)">
    <include file="$(find vizzy_control)/launch/two_arms_trajectory_action_server.launch"/>
    <include file="$(find vizzy_moveit_config)/launch/moveit.launch"/>
  </group>

  <!-- launch navigation -->
  <group if="$(arg navigation)">
    <!-- launch the laser filter to get rid of readings from the robot itself -->
   <node machine="$(arg vizzy_machine_name)" name="hokuyo_laser_filters" 
         pkg="laser_filters" type="scan_to_scan_filter_chain">
     <rosparam command="load" file="$(find vizzy_sensors)/config/hokuyo_filters.yaml" />
   </node>

   <node machine="$(arg vizzy_machine_name)" name="hokuyo_laser_filters_rear" pkg="laser_filters" type="scan_to_scan_filter_chain">
      <rosparam command="load" file="$(find vizzy_sensors)/config/hokuyo_filters.yaml" />
      <remap from="scan" to="scan_rear"/>
      <remap from="scan_filtered" to="scan_filtered_rear"/>
    </node>

    <group if="$(arg slam)">
      <!-- TO DO -->
    </group>

    <group unless="$(arg slam)">
      <!-- launch pre obtained map to the environment -->
      <node machine="$(arg vizzy_machine_name)" 
            name="map_server" pkg="map_server" 
            type="map_server" args="$(find vizzy_navigation)/maps/$(arg map_file)" 
      />

      <group if="$(arg custom_obstacles)" ns="obst">
        <node name="obstacle_map_server" 
              pkg="map_server" 
              type="map_server" 
              args="$(find vizzy_navigation)/maps/$(arg obstacles_map_file)" >
          <remap from="map" to="map_obstacles"/>    
        </node>
      </group>

      <!-- Launch move_base_flex with global_planner and teb local planner -->
      <include file="$(find vizzy_navigation)/launch/LEGACY_LAUNCHERS/move_base_eband_local.launch">
          <!--<arg name="vizzy_machine_name" value="$(arg vizzy_machine_name)"/>-->
        <arg name="map_topic" value="$(arg map_topic)" />
      </include>


      <!-- localization package -->
      <include file="$(find vizzy_navigation)/launch/amcl.launch">
        <arg name="vizzy_machine_name" value="$(arg vizzy_machine_name)"/>
      </include>
    </group>
  </group>

  <!-- launch gaze action -->
  <include file="$(find vizzy_control)/launch/gaze.launch">
    <arg name="config_file" value="$(arg vizzy_control_config_file)" />
    <arg name="simulation" value="false" />
    <arg name="fixation_point_in" value="$(arg fixation_point_in)" />
    <arg name="fixation_point_out" value="$(arg fixation_point_out)" />
  </include>

  <!-- launch teleop -->
  <group if="$(arg teleop)">
    <include file="$(find vizzy_navigation)/launch/teleop_joy.launch">
      <arg name="vizzy_machine_name" value="$(arg vizzy_machine_name)"/>
      <arg name="ns" value="$(arg ns)" />
    </include>
  </group>

  <group if="$(arg mapless_active)">
    <rosparam file="$(find vizzy_navigation)/param/general.yaml"/>
    <node name="MaplessNavigator" pkg="vizzy_navigation" type="mapless_nav_node" output="screen">
      <rosparam file="$(find vizzy_navigation)/param/operator.yaml"/>
      <rosparam file="$(find vizzy_navigation)/param/mapless.yaml"/>
      <rosparam file="$(find vizzy_navigation)/param/costmap.yaml" ns="local_map" />
      <remap from="cmd_vel" to = "$(arg ns)/cmd_vel"/>
    </node>
 </group>
</launch>
