<?xml version="1.0"?>
<!-- ROS head file to simulate vizzy in gazebo   -->
<launch>
  <!-- robot configuration parameters -->
	<arg name="robot" value="vizzy"/> <!-- full, lower_body, foot -->

	<!-- launch real robot -->

	<!-- Bringup robot controllers -->
  <include file="$(find vizzy_control)/launch/vizzy_control.launch">

  </include>

	<!-- Launch navigation stuff -->
  <!-- TO DO -->

	<!-- Launch rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find vizzy_launch)/rviz/vizzy.rviz" />
</launch>
