<?xml version="1.0"?>
<!-- ROS head file to simulate vizzy in gazebo   -->
<launch>
  <arg name="vizzy_machine_name" default="vizzy-desktop"/>
  <arg name="vizzy_machine_address" default="10.10.1.80"/>
  <arg name="operator" default="false"/>
  <arg name="env-loader" default="/home/vizzy/catkin_workspace/devel/env.sh"/>
  <machine name="$(arg vizzy_machine_name)" address="$(arg vizzy_machine_address)" env-loader="$(arg env-loader)" user="vizzy"/>


  <!-- robot configuration parameters -->
  <arg name="robot" default="vizzy"/> <!-- full, lower_body, foot -->

  <!-- simulation parameters and robot configuration parameters -->
  <arg name="use_yarp" default="false"/>
  <arg name="navigation" default="true"/>
  <arg name="slam" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="yarp" default="false"/>
  <arg name="map_frame" default="map" />
  <arg name="tf_prefix" default="" />
  <arg name="base_frame_id" default="base_footprint" />
  <arg name="odom_frame_id" default="odom" />
  <arg name="map_topic" default="/map" />
  <arg name="map_file" default="mapa_piso7_NOVO_AWESOME.yaml" />
  <arg name="use_moveit" default="true" />
  <arg name="left_camera_name" default="l_camera" />
  <arg name="right_camera_name" default="r_camera" />
  <arg name="left_camera_file" default="left_camera_params.yaml" />
  <arg name="right_camera_file" default="right_camera_params.yaml" />
  <arg name="with_kinect" default="false" />
  <arg name="custom_obstacles" default="true" />
  <arg name="obstacles_map_file" default="mapa_piso7_NOVO_AWESOME_obst.yaml" />

  <!-- camera parameters -->
  <arg name="video_mode" default="640x480_rgb8" /> <!-- raw format7_mode4-->
  <arg name="frame_rate" default="15.0" />
  <!--Min -10 Max 4095-->
  <!-- <arg name="gain" default="211"/> --><!-- Works well indoors and at Vislab -->
  <arg name="gain" default="0"/> <!-- For very bright environments with natural and artificial light -->
  <!--Min 0 Max 4095-->
  <!-- <arg name="shutter" default="419"/> -->
  <arg name="shutter" default="419"/>
  <!--Min 0 Max 4095-->
  <arg name="white_balance_BU" default="661"/> <!-- For very bright environments with natural and artificial light -->
  <!--<arg name="white_balance_BU" default="704"/>--> <!-- Works well indoors and at Vislab -->
  <!--Min 0 Max 4095-->
  <arg name="white_balance_RV" default="460"/> <!-- For very bright environments with natural and artificial light -->
  <!--<arg name="white_balance_RV" default="550"/>--> <!-- Works well indoors and at Vislab -->
  <!--Min 0 Max 4095-->
  <arg name="hue" default="1894.6"/> <!-- For very bright environments with natural and artificial light -->
  <!--<arg name="hue" default="2031"/>--> <!-- Works well indoors and at Vislab -->
  <!--Min 0 Max 10-->
  <!-- <arg name="gamma" default="10"/> -->
  <arg name="gamma" default="10"/>
  <!--Min 0 Max 4095-->
  <arg name="saturation" default="3396"/> <!-- For very bright environments with natural and artificial light -->
  <!--<arg name="saturation" default="3201"/>--> <!-- Works well indoors and at Vislab -->
  <!--Min 0 Max 4095-->
  <!--<arg name="sharpness" default="2047.5"/>--> <!-- Works well indoors and at Vislab -->
  <arg name="sharpness" default="4095"/> <!-- For very bright environments with natural and artificial light -->
  <!--Min 0 Max 255-->
   <arg name="brightness" default="0"/>  <!-- For very bright environments with natural and artificial light -->
  <!--<arg name="brightness" default="255"/>--> <!-- Works well indoors and at Vislab -->

  <arg name="vizzy_navigation_absolute_path" default="/home/vizzy/catkin_workspace/src/vizzy/vizzy_navigation" />
  <arg name="ns" default="vizzy" />
  <arg name="ros_cameras_on" default="true" />

  <arg name="vizzy_control_config_file" default="$(find vizzy_control)/config/frames.yaml"/>
  <arg name="simulation" default="false" />
  <arg name="fixation_point_in" default="fixation_point" /> 
  <arg name="fixation_point_out" default="fixation_point_goal_ros"/>

  <arg name="reactive_2d_navigation" default="false"/>
  <arg name="teleop" default="true"/>
  <!-- bringup robot -->
  <include file="$(find vizzy_robot)/launch/real_robot.launch">
    <arg name="map_frame" value="$(arg map_frame)" />
    <arg name="tf_prefix" value="$(arg tf_prefix)" />
    <arg name="vizzy_machine_name" value="$(arg vizzy_machine_name)"/>
    <arg name="left_camera_name" value="$(arg left_camera_name)" />
    <arg name="right_camera_name" value="$(arg right_camera_name)" />
    <arg name="ns" value="$(arg ns)" />
    <arg name="ros_cameras_on" value="$(arg ros_cameras_on)" />
    <arg name="left_camera_file" value="$(arg left_camera_file)" />
    <arg name="right_camera_file" value="$(arg right_camera_file)" />

    <arg name="video_mode" value="$(arg video_mode)"/>
    <arg name="frame_rate" value="$(arg frame_rate)"/>
    <arg name="gain" value="$(arg gain)"/>
    <arg name="shutter" value="$(arg shutter)"/>
    <arg name="white_balance_BU" value="$(arg white_balance_BU)"/>
    <arg name="white_balance_RV" value="$(arg white_balance_RV)"/>
    <arg name="hue" value="$(arg hue)"/>
    <arg name="gamma" value="$(arg gamma)"/>
    <arg name="saturation" value="$(arg saturation)"/>
    <arg name="sharpness" value="$(arg sharpness)"/>
    <arg name="brightness" value="$(arg brightness)"/>
  </include>


  <!-- launch the depth camera -->
  <group if="$(arg with_kinect)">
    <include file="$(find vizzy_sensors)/launch/asus.launch"/>
  </group>

  <!-- launch moveit -->
  <group if="$(arg use_moveit)">
    <include file="$(find vizzy_control)/launch/two_arms_trajectory_action_server.launch"/>
    <include file="$(find vizzy_moveit_config)/launch/moveit.launch"/>
  </group>

  <!-- launch navigation -->
  <group if="$(arg navigation)">
    <!-- launch the laser filter to get rid of readings from the robot itself -->
   <node machine="$(arg vizzy_machine_name)" name="hokuyo_laser_filters" pkg="laser_filters" type="scan_to_scan_filter_chain">
     <rosparam command="load" file="$(find vizzy_sensors)/config/hokuyo_filters.yaml" />
   </node>

   <node machine="$(arg vizzy_machine_name)" name="hokuyo_laser_filters_rear" pkg="laser_filters" type="scan_to_scan_filter_chain">
      <rosparam command="load" file="$(find vizzy_sensors)/config/hokuyo_filters.yaml" />
      <remap from="scan" to="scan_rear"/>
      <remap from="scan_filtered" to="scan_filtered_rear"/>
    </node>

    <group if="$(arg slam)">
      <!-- TO DO -->
    </group>
    <group unless="$(arg slam)">
      <!-- launch pre obtained map to the environment -->
      <node machine="$(arg vizzy_machine_name)" name="map_server" pkg="map_server" type="map_server" args="$(arg vizzy_navigation_absolute_path)/maps/$(arg map_file)" />

      <group if="$(arg custom_obstacles)" ns="obst">
	<node name="obstacle_map_server" pkg="map_server" type="map_server" args="$(find vizzy_navigation)/maps/$(arg obstacles_map_file)" >
	  <remap from="map" to="map_obstacles"/>		
	</node>
      </group>

      <!-- move_base using local eband planner -->
      <group unless="$(arg reactive_2d_navigation)">
        <!-- move_base using local eband planner -->
        <include file="$(find vizzy_navigation)/launch/move_base_eband_remote.launch">
  	  <arg name="vizzy_machine_name" value="$(arg vizzy_machine_name)"/>
          <arg name="map_topic" value="$(arg map_topic)" />
        </include>
      </group>


      <!-- localization package -->
      <include file="$(find vizzy_navigation)/launch/amcl.launch">
  			<arg name="vizzy_machine_name" value="$(arg vizzy_machine_name)"/>
      </include>
    </group>
  </group>

  <!-- launch gaze action -->
  <include file="$(find vizzy_control)/launch/gaze.launch">
    <arg name="config_file" value="$(arg vizzy_control_config_file)" />
    <arg name="simulation" value="false" />
    <arg name="fixation_point_in" value="$(arg fixation_point_in)" />
    <arg name="fixation_point_out" value="$(arg fixation_point_out)" />
  </include>

  <!-- launch teleop -->
  <group if="$(arg teleop)">
    <include file="$(find vizzy_navigation)/launch/teleop_joy.launch">
      <arg name="vizzy_machine_name" value="$(arg vizzy_machine_name)"/>
      <arg name="ns" value="$(arg ns)" />
    </include>
  </group>

  <group if="$(arg operator)">
  <node name="twist2nav2d" pkg="vizzy_navigation" type="reroute_twist2nav2d_node">
    <remap from="twist_topic" to="$(arg ns)/twist2nav2d"/>
    <remap from="nav2d_topic" to="cmd"/>
    <remap from="cmd_topic" to="$(arg ns)/cmd_vel" />
  </node>
  <rosparam file="$(find vizzy_navigation)/param/general.yaml"/>
  <node name="Operator" pkg="nav2d_operator" type="operator">
    <rosparam file="$(find vizzy_navigation)/param/operator.yaml"/>
    <rosparam file="$(find vizzy_navigation)/param/costmap.yaml" ns="local_map" />
    <remap from="cmd_vel" to = "$(arg ns)/cmd_vel"/>
  </node>
  </group>
</launch>
