<?xml version="1.0"?>
<robot  name="vizzy" xmlns:xacro="http://ros.org/wiki/xacro" >
	<xacro:arg name="use_yarp" default="false"/>
  <!-- The following include files set up definitions of parts of the robot body  -->
  <!-- misc common stuff -->
  <xacro:include filename="$(find vizzy_description)/urdf/common.urdf.xacro" />
  <!-- sensors -->
  <xacro:include filename="$(find vizzy_description)/urdf/sensors/hokuyo_04lx_laser.urdf.xacro" />
  <!-- Asus Xiton Live Pro -->
  <xacro:include filename="$(find vizzy_description)/urdf/sensors/asus_camera.urdf.xacro" />

  <!-- base -->
  <xacro:include filename="$(find vizzy_description)/urdf/base/base.urdf.xacro" />
  <!-- torso -->
  <xacro:include filename="$(find vizzy_description)/urdf/torso/torso.urdf.xacro" />
  <!-- head -->
 <xacro:include filename="$(find vizzy_description)/urdf/head/head.yarp.urdf.xacro"/>
 <xacro:include filename="$(find vizzy_description)/urdf/head/head.ros.urdf.xacro"/>

  <!-- left arm -->
  <xacro:include filename="$(find vizzy_description)/urdf/arm/left_arm.urdf.xacro" />
  <!-- right arm -->
  <xacro:include filename="$(find vizzy_description)/urdf/arm/right_arm.urdf.xacro" />

  <!-- right hand -->
  <xacro:include filename="$(find vizzy_description)/urdf/hand/right_hand.urdf.xacro" />

  <!-- The following include files contain gazebo plugins -->
  <!-- ROS -->
  <xacro:include filename="$(find vizzy_description)/plugins/ros.gazebo.xacro" />
  <!-- Yarp -->
  <xacro:include filename="$(find vizzy_description)/plugins/yarp.gazebo.xacro" />

  <!-- instantiate base -->
  <xacro:base name="base"/>
  <!-- instantiate torso -->
  <xacro:torso name="torso"/>
  <!-- instantiate head -->
  <xacro:if value="$(arg use_yarp)">
  	<xacro:head_yarp name="head"/>
  </xacro:if>
  <xacro:unless value="$(arg use_yarp)">
  	<xacro:head name="head"/>
  </xacro:unless>
  <!-- instantiate left arm -->
  <xacro:left_arm name="left_arm" parent="waist_link" sufix="l" reflect="1">
    <origin xyz="-0.01707 0.0 0.38145" rpy="0.0 0.0 0.0" />
  </xacro:left_arm>
  <!-- instantiate right arm -->
  <xacro:right_arm name="right_arm" parent="waist_link" sufix="r" reflect="1">
    <origin xyz="-0.01707 0.0 0.38145" rpy="0.0 0.0 0.0" />
  </xacro:right_arm>
  <!-- instantiate right hand -->
  <xacro:right_hand name="right_hand" parent="r_wrist_flection_link" sufix="r" reflect="1">
    <origin xyz="-0.01707 0.0 0.38145" rpy="0.0 0.0 0.0" />
  </xacro:right_hand>

  <!-- instantiate hokuyo -->
  <xacro:hokuyo_04lx_laser name="nav_hokuyo" parent="base" ros_topic="scan" update_rate="40" min_angle="${-(5 * M_PI)/12}" max_angle="${(5 * M_PI)/12}" max_range="30">
    <origin xyz="${-0.025-0.060139} 0.001 ${-0.00394+0.14806}" rpy="0 0 ${M_PI}" />
  </xacro:hokuyo_04lx_laser>

  <xacro:asus_camera name="camera" parent="waist_link">
    <origin xyz="-0.195473 0.129382 0.0418749" rpy="1.61049 -0.0262743 2.58442"/>
  </xacro:asus_camera>

  <!-- instantiate common ROS and Yarp plugins -->
  <xacro:ros_differential_drive_gazebo/>
  <xacro:camera_plugin name="l_camera" prefix="l"/>
  <xacro:camera_plugin name="r_camera" prefix="r"/>

  <!-- instantiate Yarp plugins -->
  <xacro:if value="$(arg use_yarp)">
		<xacro:torso_gazebo_control/>
		<xacro:head_gazebo_control/>
		<xacro:left_arm_gazebo_control/>
		<xacro:right_arm_gazebo_control/>
  </xacro:if>

  <!-- instantiate ROS plugins -->
  <xacro:unless value="$(arg use_yarp)">
		<xacro:ros_control_gazebo/>
  </xacro:unless>
</robot>
