<?xml version="1.0"?>
<launch>
  <arg name="model_file" default="$(find vizzy_gazebo)/media/models/docking_pattern/meshes/models/docking_pattern.stl"/>
  <node name="docking_estimator" pkg="vizzy_navigation" type="docking_estimator" output="screen">
    <rosparam file="$(find vizzy_navigation)/config/docking_matcher.yaml" command="load" />
    <param name="model_file" type="str" value="$(arg model_file)"/>
  </node>
</launch>
