<?xml version="1.0"?>
<launch>

  <arg name="ns" default="" />
  <param name="joy_node" value="/dev/input/js0"/>

  <node machine="$(arg vizzy_machine_name)" pkg="joy" type="joy_node" name="joy_node">
   
  <node ns="$(arg ns)" machine="$(arg vizzy_machine_name)" pkg="vizzy_navigation" type="teleop_joy_node" name="teleop_joy_node">
   
  </node>
</launch>
