<?xml version="1.0"?>
<launch>
  <arg name="vizzy_machine_name" default="localhost"/>
  <arg name="ns" default="" />
  <param name="joy_node" value="/dev/input/js0"/>

  <node machine="$(arg vizzy_machine_name)" ns="$(arg ns)" pkg="joy" type="joy_node" name="joy_node"/>
   
  <node machine="$(arg vizzy_machine_name)" ns="$(arg ns)" pkg="vizzy_navigation" type="teleop_joy_node" name="teleop_joy_node" output="screen">
     <param name="scale_linear" value="1"/>
     <param name="scale_angular" value="0.8"/>
     <remap from="cmd_vel" to="$(arg cmd_out_topic)"/>
  </node>
</launch>
